/* ------------------------------------------- */
/* SECTION POWERED BY | IN HOME
/* ------------------------------------------- */

.section-pb {

    border-top: .3rem solid $color-primary;
    background-color: $color-black;
    padding: 10rem 0;
    margin-top: -20vh;
    position: relative;

    &__heading {
        font-size: 5rem;
        position: absolute;
        top: 35%;
        right: 50%;

        // * --- MEDIA QUERIES * --- \\
        @include respond(phone) {
            font-size: 3rem;
            right: 45%;
        }
    }

    &__logo-box {

    }

    &__logo {
        position: absolute;
        height: 15rem;
        top: 25%;
        left: 55%;

        // * --- MEDIA QUERIES * --- \\
        @include respond(phone) {
            height: 10rem;
            left: 60%;
        }
    }
}

/* ------------------------------------------- */
/* SECTION PRODUCTS | IN HOME
/* ------------------------------------------- */

.section-products {
    background-color: $color-black;
    padding: 20rem 0 20rem 0;
    z-index: 2;

    // * --- MEDIA QUERIES --- * \\
    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}
