/* ------------------------------------------- */
/* SECTION POWERED BY | IN HOME
/* ------------------------------------------- */

.section-pb {

    border-top: .3rem solid $color-primary;
    background-color: $color-black;
    padding: 10rem 0;
    margin-top: -20vh;
    position: relative;

    &__heading {
        font-size: 5rem;
        position: absolute;
        top: 35%;
        right: 50%;
    }

    &__logo-box {

    }

    &__logo {
        position: absolute;
        height: 15rem;
        top: 25%;
        left: 55%;
    }
}

/* ------------------------------------------- */
/* SECTION GAME 1 | IN HOME
/* ------------------------------------------- */

.section-game-1 {
    padding: 25rem 5rem;
    background-color: $color-black;
    background-image: linear-gradient(to bottom right, rgba($color-black, 1), rgba($color-black, .8)) ,url(../images/bg-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: -20vh;
    position: relative;

    &__paragraph {
        width: 40%;
    }

    &__button {
        position: absolute;
        top: -5rem;
        left: 0;
    }
}

/* ------------------------------------------- */
/* SECTION GAME 2 | IN HOME
/* ------------------------------------------- */

.section-game-2 {
    padding: 25rem 5rem;
    background-color: $color-black;
    background-image: linear-gradient(to bottom right, rgba($color-black, 1), rgba($color-black, .8)) ,url(../images/sottr-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;

    &__button {
        position: absolute;
        top: -5rem;
        left: 0;
    }
    
    &__container {
        display: block;
        float: right;
        width: 40%;
        text-align: right;
    }
}