/* ------------------------------------------- */
/* BACKGROUND VIDEO | HEADER
/* ------------------------------------------- */

.header__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: brightness(20%);
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    // --- VIDEO NOT DISPLAYING ON SMALLER DEVICES (PERFORMANCE OPTIMIZATION) --- \\
    @include respond(tab-land) {
        background-image: linear-gradient(to bottom right, rgba($color-black, 1), rgba($color-black, .8)), url(../images/ray-tracing-1.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
}