/* ------------------------------------------- */
/* PRODUCT CARD BOX | SECTION PRODUCTS
/* ------------------------------------------- */

.card {

    // FUNCTIONALITY \\
    perspective: 150rem;
    -moz-perspective: 150rem; 
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 40rem rgba($color-black, .15);
         

        // FRONT AND BACK \\
        &--front {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-color: $color-black;
                border: .2rem solid $color-primary;
            }

            &-2 {
                background-color: $color-black;
                border: .2rem solid $color-primary;
            }

            &-3 {
                background-color: $color-black;
                border: .2rem solid $color-primary;
            }
        }
    }

    &__paragraph {
        color: $color-white;
        text-align: center;
        font-size: 2.3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // PICTURE IN THE CARD - FRONT SIDE \\
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;


        &--1 {
            background-image: linear-gradient(to right top, transparent, $color-primary),
            url(../images/rtx-2.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right top, transparent, $color-primary-light),
            url(../images/rtx-3.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right top, transparent, $color-primary-dark),
            url(../images/rtx-4.png);
        }
    }

    // HEADING IN THE CARD - FRONT SIDE \\
    &__heading {
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 70%;
    }

    // HEADING SPANS \\
    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }
    }

    // DETAILS / LIST IN THE CARD - FRONT END \\
    &__details {
        padding: -5rem;

        ul {
            list-style: none;
            width: 50%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.2rem;
                padding: 1rem;
                color: $color-white;
                
                // SELECT ALL OF THE ELEMENTS EXCEPT THE LAST ONE \\
                &:not(:last-child) {
                    border-bottom: .12rem solid $color-white;
                }
            }
        }
    }

        // CARD CTA \\
        &__cta {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            text-align: center;
    }

    &__price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    // * --- MEDIA QUERIES --- * \\
    //                           \\
    // * --- ------------- --- * \\
    //@include respond(tab-port) {\\

        @media only screen and  (max-width: 56.25em),
            only screen and (hover: none) {
        // FUNCTIONALITY \\
        height: auto;
        border-radius: 3px;   
        background-image: linear-gradient(to bottom, $color-primary-light, $color-primary-dark);
        box-shadow: 0 1.5rem 40rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative; 
            box-shadow: none;

            // FRONT AND BACK \\
            &--back {
                transform: rotateY(0);
                clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &:hover &__side--back {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        


           &--1 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), 
                url(../images/nat-5-small.jpg);

            // * --- MEDIA QUERIES FOR MAKING PICTURES RESPONSIVE --- * \\
            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {   // and (min-width: 600px) is the breakpoint set which will display the content below. Everything above 600px will be applied in the content below \\
             background-image: linear-gradient(to right bottom, $color-primary-light), $color-primary-dark ,url(../images/rtx-1.jpg);
                 }
            }

            &--2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
                url(../images/rtx-1jpg);    // SMALLER VERSION OF IMAGE HERE

            // * --- MEDIA QUERIES FOR MAKING PICTURES RESPONSIVE --- * \\
            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {   // and (min-width: 600px) is the breakpoint set which will display the content below. Everything above 600px will be applied in the content below \\
            background-image: linear-gradient(to right bottom, $color-primary-light), $color-primary-dark, url(../images/rtx-1.jpg);
                }
            }

            &--3 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
                url(../images/rtx-1.jpg);   // SMALLER VERSION OF IMAGE HERE

            // * --- MEDIA QUERIES FOR MAKING PICTURES RESPONSIVE --- * \\
            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {   // and (min-width: 600px) is the breakpoint set which will display the content below. Everything above 600px will be applied in the content below \\
            background-image: linear-gradient(to right bottom, $color-primary-light), $color-primary-dark, url(../images/rtx-1.jpg);
                }
            }
        }
         
    // PICTURE IN THE CARD - FRONT SIDE \\
            &__picture {
                background-size: cover;
                height: 23rem;
                background-blend-mode: screen;
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }

            // CARD CTA \\
            &__cta {
                position: relative;
                top: 20%;
                left: 0;
                transform: translate(0);
                width: 100%;
                padding: 7rem 4rem 4rem 4rem;
                }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 4rem;
            }
        }