/* --------------------------------------------- */
/* FEATURE BOX
/* --------------------------------------------- */

.feature-box {

    background-color: rgba($color-primary, .8);
    color: $color-grey-light-1;
    font-size: 1.2rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform 300ms;

    &__icon {
        padding-left: 11rem;
    }
}