/* ------------------------------------------- */
/* HEADER
/* ------------------------------------------- */

.header {

    height: 110vh;
    width: 100%;
    z-index: 2;

    &__text-box {
        position: absolute;
        top: 50%;
        left: 28%;
        transform: translate(-50%, -50%);
        text-align: left;

        &__button {
            margin-top: -2rem;
        }

        // * --- MEDIA QUERIES * --- \\
        @include respond(lap-top-2) {
            left: 36%;
        }

        @include respond(lap-top) {
            left: 35%;
        }

        @include respond(tab-land) {
            position: absolute;
            left: 45%;
        }

        @include respond(phone) {
            left: 50%;
            text-align: center;
        }
    }

     // * --- MEDIA QUERIES --- * \\
     @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

        .header__video {
            display: none !important;
        }

        .header__text-box {
            overflow: hidden;
            background-image: url(../images/ray-tracing-2.jpg);
            background-size: cover;
            height: 100%;
            width: 100%;
            padding-top: 30rem;
        } 
    } 
}