/* ------------------------------------------- */
/* HEADER
/* ------------------------------------------- */

.header {

    height: 110vh;
    width: 100%;
    z-index: 2;

    &__text-box {
        position: absolute;
        top: 50%;
        left: 28%;
        transform: translate(-50%, -50%);
        text-align: left;

        // * --- MEDIA QUERIES * --- \\
        @include respond(lap-top-2) {
            left: 36%;
        }

        @include respond(lap-top) {
            left: 35%;
        }

        @include respond(tab-land) {
            position: absolute;
            top: 50%;
            left: 45%;
        }

        @include respond(phone) {
            left: 50%;
            text-align: center;
        }
    }

     // * --- MEDIA QUERIES --- * \\
     @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    } 
}