/* ------------------------------------------- */
/* 7-1 TYPE FOLDER / FILES IMPLEMENTATION
/* ------------------------------------------- */
/* - ABSTRACTS FOLDER FILES - */
/* ------------------------------------------- */
/* COLOR VARIABLES
/* ------------------------------------------- */
/* GREY SHADES */
/* B & W */
/* COLORS FOR SECTIONS BACKGROUNDS */
/* ------------------------------------------- */
/* GRID VARIABLES
/* ------------------------------------------- */
/* ------------------------------------------- */
/* FONT
/* ------------------------------------------- */
/* ------------------------------------------- */
/* CLAERFIX MIXIN FOR THE GRID
/* ------------------------------------------- */
/* ------------------------------------------- */
/* MIXIN THAT CENTERS THE ELEMENTS TO VH
/* ------------------------------------------- */
/* ------------------------------------------- */
/* CENTERS THE BUTTONS
/* ------------------------------------------- */
/* ------------------------------------------- */
/* MEDIA QUERY MANAGER
/* ------------------------------------------- */
/* // SIZES / DEVICES \\
    0 - 600px > Phone
    600 - 900px > Tablet Portrait
    900 - 1200px > Tablet Landscape
    [1200 - 18009 is where our normal style apply
    1800px + >Big Desktop

    1em = 16px - KIM
*/
/* // BREAKPOINT NAMES \\
    $breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop
*/
/* - BASE FOLDER FILES - */
/* ---------------------------------------------------------- */
/* U-CENTER-TEXT CLASS IN ABOUT SECTION | CENTERING THE TEXT
/* ---------------------------------------------------------- */
.u-center-text {
  text-align: center !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-SMALL CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-MEDIUM CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-BIG CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-SMALL CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-small {
  margin-top: 2rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-BIG CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-medium {
  margin-top: 5rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-BIG CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-big {
  margin-top: 8rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-HUGE CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-huge {
  margin-top: 10rem !important; }

/* ------------------------------------------- */
/* BODY TYPOGRAHPY SETUP
/* ------------------------------------------- */
body {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

/* ------------------------------------------- */
/* HEADING PRIMARY | TEXT / STYLE H1
/* ------------------------------------------- */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

/* ------------------------------------------- */
/* HEADING SECONDARY | TEXT / STYLE H2
/* ------------------------------------------- */
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7cd000, #577a1a);
  -webkit-background-clip: text;
  color: transparent;
  /*letter-spacing: .2rem;
    transition: all .2s; */
  /*
    &:hover {
        transform: skewY(2deg);
    } */ }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

/* --------------------------------------------- */
/* HEADING TERTIARY + PARAGRAPH| TEXT / STYLE H3/P
/* --------------------------------------------- */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      text-align: center; } }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* ------------------------------------------------ */
/* HEADING SECONDARY BOX EFFECT | FEATURES SECTION
/* ------------------------------------------------ */
.section-features__heading {
  padding: 1.2rem;
  transition: all 500ms;
  position: relative; }

/* ------------------------------------------- */
/* BASIC SETUP
/* ------------------------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* DEFINES WHAT REM IS */
  font-size: 62.5%;
  /* Takes 62.5% of the default font size (16px). 100 / 16 = 62.5  */
  /* || 1rem = 10px; 10px/16px = 62.5% || */ }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /*padding: 3rem;  /* Gives padding all around the body element, making white space on the sides. */ }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

/* ------------------------------------------- */
/* ANIMATIONS FOR THE HEADER
/* ------------------------------------------- */
/* --- ANIMATION FOR HEADER TEXT SETUP | STARTS --- */
@keyframes moveInLeft {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* - WHAT HAPPENS AT THE 80% OF THE ANIMATION - */
  80% {
    transform: translateX(1.5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER TEXT SETUP | ENDS --- */
/* --- ANIMATION FOR HEADER SUB TEXT SETUP | STARTS --- */
@keyframes moveInRight {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  /* - WHAT HAPPENS AT THE 80% OF THE ANIMATION - */
  80% {
    transform: translateX(-1.5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER SUB TEXT SETUP | ENDS --- */
/* --- ANIMATION FOR HEADER BUTTON SETUP | STARTS --- */
@keyframes moveInBottom {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER BUTTON SETUP | ENDS --- */
/* - COMPONENTS FOLDER FILES - */
/* ------------------------------------------- */
/* BUTTON WHITE | HEADER
/* ------------------------------------------- */
/* BUTTON WHITE NESTING */
.btn {
  /* BUTTON ON HOVER NESTING */
  /* BUTTON WHITE NESTING */
  /* BUTTON GREEN NESTING */
  /* BUTTON WHITE FADE ANIMATION */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #76b900;
    color: #fff; }
    .btn--white::after {
      background-color: #76b900; }
  .btn--green {
    background-color: #76b900;
    color: #fff; }
    .btn--green::after {
      background-color: #76b900; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated-1 {
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .75s;
    animation-fill-mode: backwards; }

/* ------------------------------------------- */
/* BUTTON TEXT | 
/* ------------------------------------------- */
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #76b900;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #76b900;
  padding: 3px;
  transition: all .2s;
  position: relative; }

.btn-text:hover {
  background-color: #76b900;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

@media (max-width: 37.5em) {
  .btn-text {
    position: absolute;
    top: 0;
    left: 9.5rem; } }

/* ------------------------------------------- */
/* BACKGROUND VIDEO | HEADER
/* ------------------------------------------- */
.header__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: brightness(20%);
  overflow: hidden; }
  .header__video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1; }
  @media (max-width: 75em) {
    .header__video {
      background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.8)), url(../images/ray-tracing-1.jpg);
      background-size: cover;
      background-attachment: fixed; } }

/* ------------------------------------------- */
/* SECTION CONTAINERS
/* ------------------------------------------- */
.section-container-header {
  font-size: 2.2rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7cd000, #577a1a);
  -webkit-background-clip: text;
  color: transparent; }

.section-container-1 {
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.8)), url(../images/ray-tracing-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
  z-index: 15; }
  @media (max-width: 37.5em) {
    .section-container-1 {
      padding-bottom: 100rem; } }
  .section-container-1__icon {
    font-size: 6rem;
    position: absolute;
    top: 28%;
    left: 48%;
    display: inline-block;
    background-image: linear-gradient(to right, #7cd000, #577a1a);
    -webkit-background-clip: text;
    color: transparent;
    /*letter-spacing: .2rem;
        transition: all .2s; */ }
    @media (max-width: 56.25em) {
      .section-container-1__icon {
        margin-bottom: 0;
        top: 20%; } }
    @media (max-width: 37.5em) {
      .section-container-1__icon {
        top: 20%; } }
  .section-container-1__text {
    padding: 25rem 5rem 0 5rem;
    text-align: center; }
  @media (max-width: 37.5em) {
    .section-container-1__button-1 {
      position: absolute;
      left: 5%;
      top: 0; } }

.section-container-2 {
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.8)), url(../images/bf-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  width: 100%;
  height: 90vh;
  margin-top: -12rem;
  overflow: hidden;
  position: relative;
  z-index: 14; }
  @media (max-width: 56.25em) {
    .section-container-2 {
      margin-top: -15rem; } }
  @media (max-width: 37.5em) {
    .section-container-2 {
      padding-bottom: 80rem;
      margin-top: -14rem; } }
  .section-container-2__icon {
    font-size: 6rem;
    position: absolute;
    top: 20%;
    left: 48%;
    display: inline-block;
    background-image: linear-gradient(to right, #7cd000, #577a1a);
    -webkit-background-clip: text;
    color: transparent;
    /*letter-spacing: .2rem;
        transition: all .2s; */ }
    @media (max-width: 56.25em) {
      .section-container-2__icon {
        margin-bottom: 0;
        top: 23%; } }
  .section-container-2__text {
    padding: 20rem 5rem 0 5rem;
    text-align: center; }
    @media (max-width: 56.25em) {
      .section-container-2__text {
        padding-top: 30rem;
        padding-bottom: 15rem; } }
  @media (max-width: 37.5em) {
    .section-container-2__button-2 {
      position: absolute;
      left: 5%;
      top: 0; } }

.section-container-3 {
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.8)), url(../images/bf-c-1.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  width: 100%;
  height: 105vh;
  margin-top: -15rem;
  overflow: hidden;
  position: relative;
  z-index: 13; }
  @media (max-width: 37.5em) {
    .section-container-3 {
      padding-bottom: 80rem; } }
  .section-container-3__icon {
    font-size: 6rem;
    position: absolute;
    top: 28%;
    left: 48%;
    display: inline-block;
    background-image: linear-gradient(to right, #7cd000, #577a1a);
    -webkit-background-clip: text;
    color: transparent;
    /*letter-spacing: .2rem;
        transition: all .2s; */ }
    @media (max-width: 75em) {
      .section-container-3__icon {
        top: 28%; } }
    @media (max-width: 56.25em) {
      .section-container-3__icon {
        margin-bottom: 0;
        top: 20%; } }
  .section-container-3__text {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 30rem;
    text-align: center; }
    @media (max-width: 56.25em) {
      .section-container-3__text {
        padding-top: 30rem;
        padding-bottom: 25rem; } }
  @media (max-width: 37.5em) {
    .section-container-3__button-3 {
      position: absolute;
      left: 5%;
      top: 0; } }

.section-container-4 {
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.8)), url(../images/bf-4.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);    // IN THIS CASE NO CLIP PATH, BECAUSE OF THE PERFECT IMAGE POSITION. IT FITS NEXT SECTION TRANSITION BETTER. \\
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%); */
  width: 100%;
  height: 100vh;
  margin-top: -20rem;
  overflow: hidden;
  position: relative;
  z-index: 12; }
  @media (max-width: 37.5em) {
    .section-container-4 {
      padding-bottom: 80rem; } }
  .section-container-4__icon {
    font-size: 6rem;
    position: absolute;
    top: 30%;
    left: 48%;
    display: inline-block;
    background-image: linear-gradient(to right, #7cd000, #577a1a);
    -webkit-background-clip: text;
    color: transparent;
    /*letter-spacing: .2rem;
        transition: all .2s; */ }
    @media (max-width: 75em) {
      .section-container-4__icon {
        top: 25%; } }
    @media (max-width: 56.25em) {
      .section-container-4__icon {
        margin-bottom: 0;
        top: 50%;
        margin-top: -15rem; } }
  .section-container-4__text {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 30rem;
    text-align: center; }
    @media (max-width: 56.25em) {
      .section-container-4__text {
        padding-top: 50rem; } }
  @media (max-width: 37.5em) {
    .section-container-4__button-4 {
      position: absolute;
      left: 5%;
      top: 0; } }

/* ------------------------------------------- */
/* SECTION GAME 1 | IN HOME
/* ------------------------------------------- */
.section-game-1 {
  padding: 25rem 5rem;
  width: 100%;
  background-color: #000;
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.7)), url(../images/bg-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  position: relative;
  height: 100vh; }
  .section-game-1__button {
    position: absolute;
    top: -5rem;
    left: 0; }
  .section-game-1__container {
    width: 40%;
    text-align: left; }
    @media (max-width: 37.5em) {
      .section-game-1__container {
        width: 100%;
        text-align: center; } }
  .section-game-1__supp {
    font-size: 1.3rem;
    margin-top: -3rem; }

/* ------------------------------------------- */
/* SECTION GAME 2 | IN HOME
/* ------------------------------------------- */
.section-game-2 {
  padding: 25rem 5rem;
  width: 100%;
  background-color: #000;
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.7)), url(../images/sottr-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative; }
  .section-game-2__button {
    position: absolute;
    top: -5rem;
    left: 0; }
  .section-game-2__container {
    display: block;
    float: right;
    width: 40%;
    text-align: right; }
    @media (max-width: 37.5em) {
      .section-game-2__container {
        width: 100%;
        text-align: center; } }
  .section-game-2__supp {
    font-size: 1.3rem;
    margin-top: -3rem; }

/* ------------------------------------------- */
/* SECTION GAME 3 | IN HOME
/* ------------------------------------------- */
.section-game-3 {
  padding: 25rem 5rem;
  width: 100%;
  background-color: #000;
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.7)), url(../images/metro-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative; }
  .section-game-3__button {
    position: absolute;
    top: -5rem;
    left: 0; }
  .section-game-3__container {
    display: block;
    float: left;
    width: 40%;
    text-align: left; }
    @media (max-width: 37.5em) {
      .section-game-3__container {
        width: 100%;
        text-align: center; } }
  .section-game-3__supp {
    font-size: 1.3rem;
    margin-top: -3rem; }

/* ------------------------------------------- */
/* SECTION PRODUCTS SETUP / PRICING | CARDS
/* ------------------------------------------- */
.card-1__heading {
  font-size: 3.1rem; }

.card-1__price {
  font-size: 2rem; }

.card-2__heading {
  font-size: 3.1rem; }

.card-2__price {
  font-size: 2rem; }

.card-3__heading {
  font-size: 3.1rem; }

.card-3__price {
  font-size: 2rem; }

/* - LAYOUT FOLDER FILES - */
/* ------------------------------------------- */
/* CUSTOM GRID FLOAT SYSTEM
/* ------------------------------------------- */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 3) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 3) + 2 * 6rem); }

/* ------------------------------------------- */
/* HEADER
/* ------------------------------------------- */
.header {
  height: 110vh;
  width: 100%;
  z-index: 2; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: left; }
    @media (max-width: 75em) {
      .header__text-box {
        position: absolute;
        top: 50%;
        left: 45%; } }
    @media (max-width: 37.5em) {
      .header__text-box {
        left: 50%;
        text-align: center; } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }

/* ------------------------------------------- */
/* NAVIGATION
/* ------------------------------------------- */
.navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
  background: #000;
  z-index: 200;
  font-family: 'Lato';
  text-align: center; }
  .navigation__item {
    display: inline-block;
    padding: 2.4rem 5rem;
    font-size: 1.2rem;
    font-weight: 400; }
  .navigation__anchor {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7rem; }

@media (max-width: 37.5em) {
  .navigation__item {
    padding: 2.4rem .4rem; }
  .navigation__anchor {
    font-size: 1.4rem; } }

.fixed {
  position: fixed;
  top: 0;
  height: 7rem;
  z-index: 20;
  border-bottom: 0.2rem solid #76b900; }
  .fixed .navigation__anchor {
    border-bottom: 0.2rem solid #000;
    transition: border-bottom .2s;
    padding-bottom: .5rem; }
  .fixed .navigation__anchor:hover {
    border-bottom: 0.2rem solid #76b900; }

/* - PAGES FOLDER FILES - */
/* ------------------------------------------- */
/* SECTION POWERED BY | IN HOME
/* ------------------------------------------- */
.section-pb {
  border-top: 0.3rem solid #76b900;
  background-color: #000;
  padding: 10rem 0;
  margin-top: -20vh;
  position: relative; }
  .section-pb__heading {
    font-size: 5rem;
    position: absolute;
    top: 35%;
    right: 50%; }
    @media (max-width: 37.5em) {
      .section-pb__heading {
        font-size: 3rem;
        right: 45%; } }
  .section-pb__logo {
    position: absolute;
    height: 15rem;
    top: 25%;
    left: 55%; }
    @media (max-width: 37.5em) {
      .section-pb__logo {
        height: 10rem;
        left: 60%; } }

/* ------------------------------------------- */
/* SECTION PRODUCTS | IN HOME
/* ------------------------------------------- */
.section-products {
  background-color: #000;
  padding: 20rem 0 20rem 0;
  z-index: 2; }
  @media (max-width: 56.25em) {
    .section-products {
      padding: 20rem 0 10rem 0; } }
