/* ------------------------------------------- */
/* 7-1 TYPE FOLDER / FILES IMPLEMENTATION
/* ------------------------------------------- */
/* - ABSTRACTS FOLDER FILES - */
/* ------------------------------------------- */
/* COLOR VARIABLES
/* ------------------------------------------- */
/* GREY SHADES */
/* B & W */
/* COLORS FOR SECTIONS BACKGROUNDS */
/* ------------------------------------------- */
/* GRID VARIABLES
/* ------------------------------------------- */
/* ------------------------------------------- */
/* FONT
/* ------------------------------------------- */
/* ------------------------------------------- */
/* CLAERFIX MIXIN FOR THE GRID
/* ------------------------------------------- */
/* ------------------------------------------- */
/* MIXIN THAT CENTERS THE ELEMENTS TO VH
/* ------------------------------------------- */
/* ------------------------------------------- */
/* CENTERS THE BUTTONS
/* ------------------------------------------- */
/* ------------------------------------------- */
/* MEDIA QUERY MANAGER
/* ------------------------------------------- */
/* // SIZES / DEVICES \\
    0 - 600px > Phone
    600 - 900px > Tablet Portrait
    900 - 1200px > Tablet Landscape
    [1200 - 18009 is where our normal style apply
    1800px + >Big Desktop

    1em = 16px - KIM
*/
/* // BREAKPOINT NAMES \\
    $breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop
*/
/* - BASE FOLDER FILES - */
/* ---------------------------------------------------------- */
/* U-CENTER-TEXT CLASS IN ABOUT SECTION | CENTERING THE TEXT
/* ---------------------------------------------------------- */
.u-center-text {
  text-align: center !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-SMALL CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-MEDIUM CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-BIG CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-BIG CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-medium {
  margin-top: 5rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-BIG CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-big {
  margin-top: 8rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-HUGE CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-huge {
  margin-top: 10rem !important; }

/* ------------------------------------------- */
/* BODY TYPOGRAHPY SETUP
/* ------------------------------------------- */
body {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

/* ------------------------------------------- */
/* HEADING PRIMARY | TEXT / STYLE H1
/* ------------------------------------------- */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

/* ------------------------------------------- */
/* HEADING SECONDARY | TEXT / STYLE H2
/* ------------------------------------------- */
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7cd000, #577a1a);
  -webkit-background-clip: text;
  color: transparent;
  /*letter-spacing: .2rem;
    transition: all .2s; */
  /*
    &:hover {
        transform: skewY(2deg);
    } */ }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

/* --------------------------------------------- */
/* HEADING TERTIARY + PARAGRAPH| TEXT / STYLE H3/P
/* --------------------------------------------- */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      text-align: center; } }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* ------------------------------------------- */
/* BASIC SETUP
/* ------------------------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* DEFINES WHAT REM IS */
  font-size: 62.5%;
  /* Takes 62.5% of the default font size (16px). 100 / 16 = 62.5  */
  /* || 1rem = 10px; 10px/16px = 62.5% || */ }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /*padding: 3rem;  /* Gives padding all around the body element, making white space on the sides. */ }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

/* ------------------------------------------- */
/* ANIMATIONS FOR THE HEADER
/* ------------------------------------------- */
/* --- ANIMATION FOR HEADER TEXT SETUP | STARTS --- */
@keyframes moveInLeft {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* - WHAT HAPPENS AT THE 80% OF THE ANIMATION - */
  80% {
    transform: translateX(1.5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER TEXT SETUP | ENDS --- */
/* --- ANIMATION FOR HEADER SUB TEXT SETUP | STARTS --- */
@keyframes moveInRight {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  /* - WHAT HAPPENS AT THE 80% OF THE ANIMATION - */
  80% {
    transform: translateX(-1.5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER SUB TEXT SETUP | ENDS --- */
/* --- ANIMATION FOR HEADER BUTTON SETUP | STARTS --- */
@keyframes moveInBottom {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER BUTTON SETUP | ENDS --- */
/* - COMPONENTS FOLDER FILES - */
/* ------------------------------------------- */
/* BUTTON WHITE | HEADER
/* ------------------------------------------- */
/* BUTTON WHITE NESTING */
.btn {
  /* BUTTON ON HOVER NESTING */
  /* BUTTON WHITE NESTING */
  /* BUTTON GREEN NESTING */
  /* BUTTON WHITE FADE ANIMATION */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #76b900;
    color: #fff; }
    .btn--white::after {
      background-color: #76b900; }
  .btn--green {
    background-color: #76b900;
    color: #fff; }
    .btn--green::after {
      background-color: #76b900; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated-1 {
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .75s;
    animation-fill-mode: backwards; }

/* ------------------------------------------- */
/* BACKGROUND VIDEO | HEADER
/* ------------------------------------------- */
.header__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  filter: brightness(20%);
  overflow: hidden; }
  .header__video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* - LAYOUT FOLDER FILES - */
/* ------------------------------------------- */
/* CUSTOM GRID FLOAT SYSTEM
/* ------------------------------------------- */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 3) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 3) + 2 * 6rem); }

/* ------------------------------------------- */
/* HEADER
/* ------------------------------------------- */
.header {
  height: 95vh; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left; }

/* - PAGES FOLDER FILES - */
/* ------------------------------------------- */
/* SECTION POWERED BY | IN HOME
/* ------------------------------------------- */
.section-pb {
  background-color: #000;
  padding: 10rem 0;
  margin-top: -20vh;
  position: relative; }
  .section-pb__heading {
    font-size: 5rem;
    position: absolute;
    top: 35%;
    right: 50%; }
  .section-pb__logo {
    position: absolute;
    height: 15rem;
    top: 25%;
    left: 55%; }

/* ------------------------------------------- */
/* SECTION FEATURES | IN HOME
/* ------------------------------------------- */
.section-features {
  padding: 50rem; }
